@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;600;700&display=swap");

:root {
    --main-color: rgb(240, 179, 66);
}

* {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    position: relative;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    overflow-wrap: normal;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: #444;
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 5rem;
}

body {
    background: #f3e7db;
}

section {
    padding: 2rem 9%;
    background: #f3e7db;
}

.heading {
    display: flex;
    align-items: center;
    padding: 4rem;
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: 0.2rem;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 9%;
    height: 9rem;
}


.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 3rem;
    font-size: 1.7rem;
    border-radius: 0.5rem;
    background: #3a3a3a;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}

.btn:hover {
    background: #666666;
}

.btn a {
    color: #fff;
}

.header .logo img {
    width: 12rem;
    background-color: #fff;
    border-radius: 50%;
    padding: 1rem;
    margin-top: 4rem;
}

.header .navbar a {
    font-size: 1.7rem;
    color: #fff;
    margin-left: 2rem;
    font-weight: bold;
}

.header .navbar a:hover {
    color: white;
    border-bottom: 0.2rem solid var(--main-color);
    padding-bottom: 0.5rem;
}

#menu-bars {
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
}

.header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-top: 0.1rem solid #222;
    background: #333;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.fa-times {
    transform: rotate(180deg);
}

.header .navbar a {
    display: flex;
    background: #222;
    border-radius: 0.5rem;
    padding: 1.3rem;
    margin: 1.3rem;
    font-size: 2rem;
}

.home .content h3 {
    font-size: 4rem;
}

.card-wrapper {
    max-width: 1100px;
}

img {
    width: 100%;
    display: block;
}

.img-item img {
    width: 20rem;
    height: 20rem;
}

.img-display {
    overflow: hidden;
    border-radius: 0.5rem;
    border: 1rem solid #333;
}

.img-showcase {
    display: flex;
    transition: transform 0.5s ease;
}

.img-showcase img {
    min-width: 100%;
    padding: 1rem;
    height: auto;
}



.img-select {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.img-select img {
    transition: all 0.5s ease;
    border-radius: 0.5rem;
    border: 1rem solid #333;
}

.img-item {
    margin: 0.3rem;
}

.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
    margin-right: 0;
}

.img-item:hover {
    opacity: 0.8;
}

.product-content {
    padding: 2rem 1rem;
    margin-left: 3rem;
}

.product-title {
    font-size: 4.5rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}

.product-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}

.product-rating span {
    font-weight: 600;
    color: #252525;
}

.product-price {
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}

.product-price-title {
    margin-top: 3rem;
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.product-price span {
    font-weight: 400;
}

.product-detail h2 {
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}

.product-detail p {
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}

.price {
    display: flex;
    align-items: center;
    font-size: 3rem;
    gap: 10rem;
    margin-left: 6.5rem;
}

.sub-title {
    font-size: 3rem;
    margin-top: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #333;
}

.sizes {
    margin-left: 10rem;
    margin-top: 1rem;
}

.sizes li {
    font-size: 2rem;
    font-weight: 600;
}

.desc {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
}

@media screen and (min-width: 992px) {
    .Product-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }

    .card-wrapper {
        height: fit-content;
        margin: 3rem auto 2rem auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product-imgs {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


}

.footer {
    border-top: 2px solid #626262;
    background: #f3e7db;
    text-align: center;
    padding: 3rem;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.footer .box-container .box h3 {
    font-size: 3.2rem;
    text-transform: capitalize;
    color: var(--primary-color);
    padding: 1rem 0;
    font-weight: 800;
}

.footer .box-container .box p {
    font-size: 2rem;
    line-height: 2;
    color: black;
    padding: 1rem 0;
    font-weight: normal;
}

.footer .box-container .box .share {
    margin-top: 1rem;
}

.footer .box-container .box .share a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 10%;
    font-size: 1.7rem;
    background: #a3a3a3;
    color: white;
    margin-right: 0.3rem;
    text-align: center;
}

.footer .box-container .box .share a:hover {
    background: white;
    color: #a3a3a3;
}

.footer .box-container .box .link {
    font-size: 1.7rem;
    line-height: 2;
    color: var(--primary-color);
    padding: 0.5rem 0;
    display: block;
}

.footer .box-container .box .link:hover {
    color: var(--secondary);
}

.footer .credit {
    text-align: center;
    margin-top: 3rem;
    padding-top: 3rem;
    font-size: 2rem;
    text-transform: capitalize;
    color: var(--primary-color);
    border-top: 0.1rem solid var(--black);
}

.footer .credit span {
    color: var(--secondary);
}

/* media queries  */

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 2rem;
    }

    .service {
        flex-direction: column;
        align-items: center;
    }

    .home .home-slider .swiper-slide,
    .Gry .home-slider .swiper-slide {
        width: 40rem;
    }

    .product-content {
        padding: 4rem 5rem;
        margin: 2rem 4rem;
        /* align-items: center; */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}

@media (max-width: 768px) {
    #menu-bars {
        display: initial;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border-top: 0.1rem solid #222;
        background: #333;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .fa-times {
        transform: rotate(180deg);
    }

    .header .navbar a {
        display: flex;
        background: #222;
        border-radius: 0.5rem;
        padding: 1.3rem;
        margin: 1.3rem;
        font-size: 2rem;
    }

    .home .content h3 {
        font-size: 4rem;
    }

    .product-content {
        padding: 2rem 2rem;
        margin: 1rem 1rem;
        /* align-items: center; */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .home .home-slider .swiper-slide {
        width: 27rem;
    }

    .contact form .inputBox input {
        width: 100%;
    }

    .home .home-slider .swiper-slide,
    .Gry .home-slider .swiper-slide {
        width: 35rem;
    }
}